# Ignore database configuration file
config/database.yml

# Ignore secrets file
config/secrets.yml

# Ignore encrypted credentials file
config/initializers/credentials.yml.enc

# Ignore database schema file
db/schema.rb

# Ignore temporary files and directories
tmp/
log/

# Ignore other Rails-specific files and directories
.bundle/
vendor/bundle/
public/assets/
.idea/
.vscode/